appdirs==1.4.3
CacheControl==0.12.6
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
DAWG-Python==0.7.2
distlib==0.3.0
distro==1.4.0
Django==2.2.1
django-braces==1.13.0
django-crispy-forms==1.7.2
django-crontab==0.7.1
django-model-utils==3.2.0
django-star-ratings==0.8.0
djangorestframework==3.10.3
docopt==0.6.2
greenlet==0.4.15
html2text==2019.9.26
html5lib==1.0.1
idna==2.8
ipaddr==2.2.0
lockfile==0.12.2
mod-wsgi==4.6.8
msgpack==0.6.2
mysqlclient==1.3.14
packaging==20.3
pep517==0.8.2
Pillow==6.1.0
pkg-resources==0.0.0
progress==1.5
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyMySQL==0.9.3
pynvim==0.3.2
pyparsing==2.4.6
pytoml==0.1.21
pytz==2019.2
requests==2.22.0
retrying==1.3.3
six==1.12.0
sqlparse==0.3.0
swapper==1.1.1
transliterate==1.10.2
urllib3==1.25.7
webencodings==0.5.1
